body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: black;
    margin: 0;
    padding: 0;
}

code {
    background-color: #1f1f1f;
    padding: 5px;
    border-radius: 3px;
    border: none;
    user-select: text;
}

.footer {
    overflow: hidden;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: #fff;
}

hr {
    max-width: 420px;
    color: #718093;
}

.about {
    text-align: center;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.aboutblock {
    width: 427;
    height: 160;
    padding-top: 15px;
    padding-bottom: 150px;
    flex-grow: 1;
}

.black {
    background-color: #111;
    padding: 15px 0px 15px 0px;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
}

.gamemodes {
    max-width: 1280px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
}

.gamemodes img {
    margin: 15px;
    padding: 50px;
    max-width: 1280px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.gamemodes .mode {
    margin: 15px;
    text-align: left;
    padding: 50px;
    max-width: 1280px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.stafflist {
    text-align: center;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.staffblock {
    width: 427;
    height: 160;
    padding-top: 66px;
    padding-bottom: 66px;
    flex-grow: 1;
}

.header {
    overflow: hidden;
    background: #fff url(background.png) no-repeat 50%;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    padding-top: 15px;
    border-width: 12px;
    color: #fff;
}

.logo {
    cursor: pointer;
    user-select: none;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.glow-on-hover {
    user-select: none;
    color: #fff;
    font-size: 14px;
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.logo-glow {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
